
{% extends 'base.html' %}
{% load static%}
{% load bootstrap4 %}
{% block body %}

<div dir="rtl">
    <div class="catagory_area ">
        <div class="container " style="margin-top: 10rem">
                    <div class=" single_text">
                        <h2>احجز مع
                            أفضل دكتور في مصر</h3>
                        <h3>احجز اونلاين او كلم  ١٧٧٥۸</h4>
                        <h4>١٦٠٠٠ دكتور -٤٠٠٠ استاذ واستشاري - اكثر من ۲٠ تخصص</h5>
                        <br>
                    </div>
                    <form  method="GET" action="">
                    <div class="row cat_search" >
        
                        {% bootstrap_form filter.form %}
        
                        <div class="col-lg-3 col-md-12">
                            <div class="job_btn">
                                <input type="submit" class="boxed-btn3" value="ابحث هنا">
                            </div>
                        </div>
        
                    </div>
                    </form> 
                </div>
            </div>
            <!-- endsearch -->
    <!-- job_listing_area_start  -->
    <div class="job_listing_area">
        <div class="container">

            <div class="job_lists">
                <div class="row">
                    {% for doctor in doctors %}
                    <div class="col-lg-10 col-md-10" style="height: 16rem;" >
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div >
                                        {% if doctor.image%}
                                        <img  src="{{ doctor.image.url}}" alt="" width="100" height="100">
                                        {% else %}
                                        <img  src="{% static 'img/candiateds/2.png'%}" alt="" width="100" height="100">
                                        {% endif %}
                                        
                                </div>
                                <div class="jobs_conetent">
                                    <a href=" {% url 'accounts:doctors_details' doctor.slug  %}"><h5>دكتور  {{ doctor.name}}</h5></a>
                                    <h6></h6>
                                    
                                    <div class="links_locat">
                                        <div class="location">
                                            <p> <i class="fas fa-briefcase-medical"></i> دكتور  {{ doctor.doctor }}<span style="color: blue;"></span> متخصص في  {{ doctor.specialist_doctor}}<span style="color: blue;"></span></p>
                                            <p> <i class="fa fa-map-marker"></i>العنوان : {{ doctor.address_details}}</p>
                                            <p> <i class="fa fa-map-marker"></i> الكشف : <span style="color: blue;">{{ doctor.price}}</span> جنية </p>
                                            <p> <i class="fa fa-clock-o"></i> مدة الانتظار : <span style="color: blue;">{{ doctor.waiting_time}}</span> ساعه </p>
                                            <p> <i class="fa fa-clock-o"></i> عدد ساعات العمل : <span style="color: blue;">{{ doctor.working_hours}}</span> ساعه </p>
                                            <p> <i class="fa fa-clock-o"></i>سعر المكالمه العادية  :<span style="color: blue;"> {{ doctor.number_phone}}</span>  </p>
                                                <h3>{{doctor.ff}}</h3>
                                                

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a class="boxed-btn3" href="{% url 'accounts:make_order' doctor.slug  %}">حجز كشف</a>
                                </div>

                                <div class="rating">
                                    
                                    <div class="text-warning">
                                        {% if doctor.ff %}
                                        {% with ''|center:doctor.ff as range %}
                                        {% for _ in range %}

                                        <!-- to make image category for clinic image -->
                                        <i class="fa fa-star"></i>
                                        {% endfor %}
                                        {% endwith %}
                                        {% else %}
                                            <p>
                                                لا يوجد تقييم  حتي الان
                                            </p>
                                        {% endif %}

                                        </div>
                                    <div class="rating" >
                                        <h5>تقييم الدكتور</h5>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
              
                    </div>

                    {% endfor %} 
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->
</div>
    <!-- featured_candidates_area_start  -->
    <div class="featured_candidates_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-40">
                        <h3>المرشحين المميزين</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="candidate_active owl-carousel">
                        <div class="single_candidates text-center">
                            <div class="thumb">
                                <img class="img-circle " src="{% static 'img/candiateds/2.png'%}" alt="" >
                                
                            </div>
                            <a href="" ><h4 >الاسم</h4></a>
                            <p>  التخصص</p>
                            <div class="best-rating">
                                <div class="text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        
                                </div>
                                <div class="best-rating" >
                                    <h5>تقييم الدكتور</h5>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- featured_candidates_area_end  -->


    {% endblock %}